# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8367428557:AAETwwhO7eNiWeqd8Uo0Oi3aEWaW4z4aKH0

# ID администраторов/менеджеров (через запятую)
# Получить свой ID можно у @userinfobot
ADMIN_IDS=123456789,987654321

# Постгрыс данные
DB_USER=avtozakaz
DB_PASSWORD=avtozakaz_secure_password
DB_NAME=avtozakaz_bot

# Для SQLite (не для production)
# DATABASE_URL=sqlite+aiosqlite:///bot.db
